<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
           rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>creando vehiculos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>creando Mascota</h1>
            <form method="POST" action="#" id="formulario">
                {%csrf_token%}
                <div class="row">
                    {{Mascota.nombreMascota.label}}
                    {{Mascota.nombreMascota}}
                </div>
                <div class="row">
                    {{Mascota.nombreDueño.label}}
                    {{Mascota.nombreDueño}}
                </div>
                <div class="row">
                    {{Mascota.raza.label}}
                    {{Mascota.raza}}
                </div>
                <div class="row">
                    {{Mascota.sexo.label}}
                    {{Mascota.sexo}}
                </div>
                <div class="row">
                    {{Mascota.edad.label}}
                    {{Mascota.edad}}
                </div>
                <div class="row">
                    {{Mascota.TipoMascota.label}}
                    {{Mascota.TipoMascota}}
                </div>
                
                <div class="row">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-danger" id="Limpiar" value="Limpiar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>