{% extends "plantilla.html" %}
{%load static%}

{% block content %}

</head>
<body>
    <div class="container">
        
        <br>
        <h1>Busca pareja para Mascota</h1>
        <div class="row">
            
                
            <form method="POST" action="#" id="formulario" enctype="multipart/form-data" >
                {%csrf_token%}
                <br>
                <div class="row">
                    {{Mascota.TipoMascota.label}}
                    {{Mascota.TipoMascota}}
                </div>
                <div class="row">
                    {{Mascota.nombreMascota.label}}
                    {{Mascota.nombreMascota}}
                    
                </div>
                <div class="row">
                    {{Mascota.nombreDueño.label}}
                    {{Mascota.nombreDueño}}
                </div>
                <div class="row">
                    {{Mascota.raza.label}}
                    {{Mascota.raza}}
                </div>
                <div class="row">
                    {{Mascota.sexo.label}}
                    {{Mascota.sexo}}
                </div>
                <div class="row">
                    {{Mascota.edad.label}}
                    {{Mascota.edad}}
                </div>
                <div class="row">
                    {{Mascota.imagen.label}}
                    {{Mascota.imagen}}
                </div>
                
                <br>
                <div class="d-flex justify-content-end">
                    <input type="reset" value="Cancelar" class="btn btn-secondary" onclick="location.href='index2'" >
                    &nbsp;
                    <input type="submit" class="btn btn-secondary" id="enviar" value="Inscribir mascota"  >

                    
                    
                </div>
                <br>
            </form>
           </div>
        </div>
    </div>
    <br>
</body>
</html>
{%endblock%}