{% extends "plantilla.html" %}
{%load static%}

{% block content %}
<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <div class="row">
            <h1>Listado de mascotas</h1>
        </div>

        <table class="table">
            <thead class= "thead-dark"class="col-md-4" height="50">
                
                <tr>
                    
                    <th scope="col">Tipo de mascota</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">raza</th>
                    <th scope="col">sexo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <a href="{% url 'crearMascota' %}" class="btn btn-secondary"  >Inscribir nueva mascota</a>
                    
                </tr>
            
            </thead >
            <tbody  class="col-md-4">
                {%for ve in mascotas%}
                    <tr>
                        <td>{{ve.TipoMascota}}</td>
                        <td>{{ve.nombreMascota}}</td>                      
                        <td>{{ve.raza}}</td>
                        <td>{{ve.sexo}}</td>
                        <td><a href="{% url 'form_mod_mascota' ve.nombreMascota%}" class="btn btn-primary">Modificar  </a></td>
                        <td><a href="{% url 'form_del_Mascota' ve.nombreMascota%}" class="btn btn-danger">Eliminar </a></td>
                        
                    </tr>
                {%endfor%}

            </tbody>
    </table>



    </div>
</body>
</html>
{%endblock%}