{% extends "plantilla.html" %}


{% block content %}
<!DOCTYPE html>
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
</head>
<html>
   
    <body>
        <div class="container">

            
            <br>
          <h1>contáctanos</h1>
          <br>
          <br>
          
          

          <div class="row">
            <div class="col-lg-6">
              <h2>Nos encontramos en:</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.6045017942406!2d-70.75342214632697!3d-33.51166557385158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dcd1fe0c7bab%3A0x4d17b82a7ba77488!2sDuoc%20UC%3A%20Sede%20Maipu!5e0!3m2!1ses!2scl!4v1618207256394!5m2!1ses!2scl" width="400" height="385" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <br />
            <div class="col-lg-6">
              <h4>Envíanos un mensaje</h4>
              <h3 >Información general al +56974782354 </h3>
              <h3>Reclamos al +56923254789</h3>
              <hr>
              
              
                <form class="my-form">
                    <div class="form-group col-md-6">
                        <input class="form-control" id="nombre" name="nombre" minlength="6" required placeholder="Nombre">
                        <br>
                    
                    
                        <input type="email" class="form-control" id="email" name="email" required  placeholder="Email">
                       
                    
                        <label for="form-subject">Telefono:</label>
                        <input type="text" class="form-control" id="form-subject" placeholder="Opcional">
             
                    
                    
                    
                      <label for="Comentarios"> Tipo de mensaje:</label>
                      <select class="form-control col-md-4" name="tipomensaje" id="tipomensaje"  >
                          <option value="1">Elija opcion</option>
                          <option value="2">Otro</option>
                          <option value="3">Compras online</option>
                          <option value="4">Recomendacion</option>
                          <option value="5">Reclamo</option>
                          <br> 
                                                               
                      <textarea class="form-control" rows="5" id="comentarios" placeholder="Comentarios" required name="comentarios"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Enviar</button>  
                    <br><br>                 
                </form>
              
          </div>

          </div>
            
        </div>

    </body>

</html>
{% endblock %}