{% extends "plantilla.html" %}


{% block content %}
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <!--Seccion donde se define la configuracion de las paginas-->
        <!--vincular archivos css, js, jquery, bootstrap-->
        <!--vincular imagenes con formato ico-->
        <title>Pet Shop-Inicio</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}"> 
        <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        

    </head>
    <body>
        <!--comentarios-->

     
        <div class="container">
            

        

        <br>
        <br>

        
        <br>


        <div class="row">
          <div class="col-md-4">
            <h4>Productos Premium</h4>
            <h3>Le mejor alimentación y cuidado para tu mascota.</h3>
            <h3>Certificados por la asosiación nacional de alimentos para mascotas.</h3>
            <center>
              <img src="{%static 'img/calidad.JPG'%}" width="40" height="40">
            </center> 
            <hr>
          </div>
          
            
              <div class="col-md-4">
                
                <center>
                  <h2>Identifica tu raza</h2>
                  <select id="miSelect" onchange='cambiarImagen(document.getElementById("miSelect"));'></select>
                </center>  
                  <br>
                  <img id="imagen_perro" src="{%static 'img/carperr.jpg'%}" class="mx-auto d-block" width="204" height="136">
              </div>
            
          
          <div class="col-md-4">    
            <h4>Despacho a domicilio</h4>
            <h3 >Por compras superiores a $100.000 </h3>
            <h3>Solo disponible en la región Metropolitana.</h3>
            <center>
              <img src="{%static 'img/Despacho.jpg'%}" width="40" height="40">
            </center>  
          </div>


        </div>
        </div>
        <!--productos-->
        <br>
        <br>

        
        <div class="container"><!--margenes tanto izq como der-->
          
          <div class="card-colums" >
            <div class="row" id="galeria">
                <div class="card-group p-0">
                    <script>
                        var titulo = ['',
                        'Limpiador de dientes','Traje Stitch Perro','Pijama Perro','Arnés Gato',
                        'Hi Pro Premium Adulto','Birbo Carne Adulto','FIT Formula Gato Adulto',
                        'Monello Cat Premium','Torre Casa Gato','Tuberete Casa Gato','Casa Madera Perro',
                        'Fancy Pets Juguete Gato','Purina Perro Cachorro','Old Prince Perro Cachorro',
                        'Bravecto Pulgas/Garrapatas Perro','Bravecto Pulgas Gato'];
 
                        var texto = ['','Juguetes para perros, limpiador de dientes Molar para mascotas, palo de cepillado, cuidado Dental para perros y Mascotas.','Disfraz Stitch perro azul talla 5XL, Disfraz Stitch perro azul talla 3XL, Disfraz Stitch perro azul talla L, Disfraz Stitch perro azul talla M.','Pijama de polar completo para perro, celeste. Tallas disponibles: M, L, XL, 2XL, 3XL, 4XL',
                        'Arnés gato celeste cuadrille delgado, tallas disponibles: S, M, L, XL.',
                        'Alimento Premium 100% balanceado para todas las razas. Con proteínas de alta calidad. Con Probióticos y Calcio para el desarrollo de músculos, dientes y huesos. Con antioxidantes, vitaminas y minerales para una mayor vitalidad.',
                        'Birbo Premium Carne es un alimento nutricionalmente completo para perros adultos. El uso de ingredientes seleccionados, omegas 6 y 3 y sin aromatizantes artificiales, proporcionando una alimentación balanceada enriquecida con vitaminas y minerales, esenciales para la buena salud de su perro.',
                        'Fit Formula Gato Adulto es un alimento que contiene todos los nutrientes esenciales para una alimentación completa y balanceda, manteniendo a su gato saludable y vigoroso. El gran valor de los ingredientes utilizados, da excelente digestibilidad, se verá reflejado en un menor volumen de heces.',
                        'Monello Cat Salmón, Atún & Pollo es un alimento premium especial para gatos de paladar exigente, contiene taurina para el buen estado de la visión y del corazón del felino, contiene ingredientes seleccionados que previenen la formación de cálculos renales.',
                        'Rascador Torre y Casa, este rascador te brinda la comodidad y ambientación que necesita tu gato para mantenerse feliz, siendo uno de los productos con alta calidad para que tu felino tenga la satisfacción que necesita, un rascador debe estar siempre presente en el felino puesto que este objeto permitirá a tu gato pasearse.',
                        'Diseñado como un santuario de paz para tu felino peludo después de un día de juego. Ofrece un gran escondite para que su gato duerma y se relaje.',
                        'La casa para perro de madera cuenta con 4 patas que la aíslan del suelo, techo con bisagras para facilitar la limpieza al interior de la casa. Además, su diseño permite una aislación térmica y una adecuada circulación de aire en su interior.',
                        'Características: Juguetes con sonido que estimulan la curiosidad, plumas y diseño que satisface el instinto de caza, textura y dureza para afilar y desgastar uñas. ... Este juguete no es apto para niños.',
                        'En Purina ONE® estamos convencidos de la óptima nutrición de nuestro SMARTBLEND, gracias a la mezcla de ingredientes y proteína de alta calidad te aseguramos que si haces el cambio de alimento a Purina® ONE® podrás notar cambios en la energía, digestibilidad, pelaje, ojos y salud bucal de tu mascota en 28 días. ¡Compra Purina® ONE® y comienza a ver la diferencia!',
                        'Alimento especial para cachorro, ayuda al desarrollo cognitivo gracias al agregado de DHA un ácido graso esencial de la serie omega que estimula el desarrollo del tejido nervioso cerebral, las habilidades cognitivas y la visión. Refuerza el sistema inmune gracias a sus prebióticos, vitaminas y antioxidantes.',
                        'Este medicamento veterinario es un insecticida y acaricida sistémico de duración prolongada que mata de forma inmediata las garrapatas (Ixodes ricinus y Rhipicephalus sanguineus adultas y jóvenes), pulgas (Ctenocephalides felis y Ctenocephalides canis) y ácaros (Demodex canis, Sarcoptes scabei y Otodectes cynotis).',
                        'Este medicamento de uso veterinario está destinado al tratamiento y prevención de infestaciones de pulgas y para el tratamiento y control de infestaciones por garrapatas que proporciona: actividad inmediata y persistente durante 12 semanas para matar pulgas',
                        ];
 
                        var precio_ant = ['','$5.990','$19.990','$14.990','$15.990','$31.990','$39.990','$32.990','$36.990','$71.990','$52.990','$149.990','$41.990','$28.990','$43.990','$24.990','$24.990'];
                        var precio_nuevot = ['','$1.900','$15.990','$11.990','$10.990','$30.990','$34.990','$29.990','$31.990','$69.990','$48.990','$119.990','$39.990','$24.990','$38.990','$21.990','$21.990'];

                        for (let i=1;i<17;i++){
                            galeria.innerHTML  +=
                                `
                                <div class="card m-3" style="width:250px">
                                    <a href="#"class="text-muted" data-toggle="modal" data-target="#identificador${i}">
                                        <img src="{%static 'petshoppap/img/producto${i}.jpg'%}" class="card-img-top" width="30">
                                        <div class="card-body">
                                            <h5 class="text-muted" id="titulo${i}"></h5>
                                            <div class="shop-thumb__price">
                                            <span class="shop-thumb-price_old" id="precio_ant${i}"></span>
                                            <span class="shop-thumb-price_new" id="precio_nuevot${i}"></span>
                                                
                                              
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="modal fade" id="identificador${i}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--aqui va el modal-->
                                    <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                <div class="modal-content">
                                     <div class="modal-header">
                                        <div class="modal-dialog modal-dialog centered" role="document">
                                            <img src="img/producto${i}.jpg" alt="" class="img-fluid rounded">
                                        </div>
                                        <div class="text">
                                            <h5 class="shop-thumb__title" id="2titulo${i}"></h5>
                                            <h6 class="blocktext" id="2texto${i}"></h6>
                                            <div class="shop-thumb__price">
                                            <span class="shop-thumb-price_old" id="2precio_ant${i}"></span>
                                            <span class="shop-thumb-price_new" id="2precio_nuevot${i}"></span>
                                                <button type="submit" class="btn btn-danger" > 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                                                </svg></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                `
                                document.getElementById("precio_nuevot"+i).innerHTML = precio_nuevot[i];
                                document.getElementById("precio_ant"+i).innerHTML = precio_ant[i];
                                document.getElementById("titulo"+i).innerHTML = titulo[i];
                                document.getElementById("2precio_nuevot"+i).innerHTML = precio_nuevot[i];
                                document.getElementById("2precio_ant"+i).innerHTML = precio_ant[i];
                                document.getElementById("2titulo"+i).innerHTML = titulo[i];
                                document.getElementById("2texto"+i).innerHTML = texto[i];
                                
                        }
                    </script>  
                </div> 
            </div>
          </div>
        </div>
        <!--fin productos-->
    

 
       
     


          

        
       <!-- / .row -->

      <div class="pagination " >
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
      <hr>

        <br>
      </div>
      </div>

        <!--aqui va el pie de pagina-->


        <!--comentarios-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </body>

</html>
{%endblock%}