{% extends "plantilla.html" %}


{% block content %}
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <!--Seccion donde se define la configuracion de las paginas-->
        <!--vincular archivos css, js, jquery, bootstrap-->
        <!--vincular imagenes con formato ico-->
        <title>Pet Shop-Inicio</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}"> 
        <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        

    </head>
    <body>
        <!--comentarios-->

     
        <div class="container">
            

        

        <br>
        <br>

        
        <br>


        <div class="row">
          <div class="col-md-4">
            <h4>Productos Premium</h4>
            <h3>Le mejor alimentación y cuidado para tu mascota.</h3>
            <h3>Certificados por la asosiación nacional de alimentos para mascotas.</h3>
            <center>
              <img src="{%static 'img/calidad.JPG'%}" width="40" height="40">
            </center> 
            <hr>
          </div>
          
            
              <div class="col-md-4">
                
                <center>
                  <h2>Identifica tu raza</h2>
                  <select id="miSelect" onchange='cambiarImagen(document.getElementById("miSelect"));'></select>
                </center>  
                  <br>
                  <img id="imagen_perro" src="{%static 'img/carperr.jpg'%}" class="mx-auto d-block" width="204" height="136">
              </div>
            
          
          <div class="col-md-4">    
            <h4>Despacho a domicilio</h4>
            <h3 >Por compras superiores a $100.000 </h3>
            <h3>Solo disponible en la región Metropolitana.</h3>
            <center>
              <img src="{%static 'img/Despacho.jpg'%}" width="40" height="40">
            </center>  
          </div>


        </div>

        <div class="row">
            <div class="col-lg-3">
              <div class="shop__thumb">
                <a class="btn-white btn-primary-white" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample">
                  <div class="shop-thumb__img">
                    <img src="{%static 'img/producto1.jpg'%}" class="img-responsive" width="200">
                  </div>
                  <h5 class="shop-thumb__title">
                    Limpiador de dientes
                  </h5>
                  <div class="shop-thumb__price">
                    <span class="shop-thumb-price_old">$5.990</span>
                    <span class="shop-thumb-price_new">$1.900</span>
                      
                    
                  </div>
                </a>
                <div class="collapse" id="collapse1">
                  <div class="card card-body">
                    Juguetes para perros, limpiador de dientes Molar para mascotas, palo de cepillado,
                    cuidado Dental para perros y Mascotas.
                  </div>
                </div>  
              </div>
            </div>


            <div class="col-lg-3">
              <div class="shop__thumb">
                <a class="btn-white btn-primary-white" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseExample">
                  <div class="shop-thumb__img">
                    <img src="{%static 'img/producto2.jpg'%}" class="img-responsive" width="200">
                  </div>
                  <h5 class="shop-thumb__title">
                    Traje Stitch Perro
                  </h5>
                  <div class="shop-thumb__price">
                    <span class="shop-thumb-price_old">$19.990</span>
                    <span class="shop-thumb-price_new">$15.900</span>
                    
                  </div>
                </a>
                <div class="collapse" id="collapse2">
                  <div class="card card-body">
                    Disfraz Stitch perro azul talla 5XL, Disfraz Stitch perro azul talla 3XL, Disfraz Stitch perro azul talla L,
                    Disfraz Stitch perro azul talla M.
                    <div class="row">
                      <button type="submit" class="btn btn-danger"  > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 
                        3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                      </svg></button>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
        </div>

        </div>
        <!--productos-->
        <br>
        <br>

        
      
        <!--fin productos-->
    

 
       
     


          

        
       <!-- / .row -->

      <div class="pagination " >
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
      <hr>

        <br>
      </div>
      </div>

        <!--aqui va el pie de pagina-->


        <!--comentarios-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </body>

</html>
{%endblock%}