{% extends "plantilla.html" %}
{%load static%}

{% block content %}
<!DOCTYPE html>
<html>
    <body>
        <br>
        <h1>¡Encuentra pareja para tu mascota!</h1>
        <br>
        <div class="container">
            <div class="row">
                <center>
                <a href="{%url 'crearMascota'%}"><img src="{%static 'img/amor2.png'%}" width="300" height="300"></a>
                <a href="{%url 'crearMascota'%}" class="link-dark"><h2> Inscribe a tu mascota haciendo clic acá</h2></a>
                
                </center>
            </div>
            <br>
            <div class= "row" class="col-md-4"> 
            </div>
            <table  class="table" class="col-md-4">
                
                <thead class= "thead-dark" class="col-md-4">
                    <tr>
                        <th scope="col">TipoMascota</th>
                        <th scope="col">nombreMascota</th>
                        <th scope="col">nombreDueño</th>
                        <th scope="col">raza</th>
                        <th scope="col">sexo</th>
                        <th scope="col">edad</th>
                    </tr>
                </thead>
                <tbody>
                    {%for ve in datos%}
                        <tr>
                            <td>{{ve.TipoMascota}}</td>
                            <td>{{ve.nombreMascota}}</td>
                            <td>{{ve.nombreDueño}}</td>
                            <td>{{ve.raza}}</td>
                            <td>{{ve.sexo}}</td>
                            <td>{{ve.edad}}</td>
                        </tr>
                    {%endfor%}
    
                </tbody>
    
            </table>
            <br>
        </div>
        <br>
        <br>
        <br>

    </body>
</html>
{%endblock%}