{% extends "plantilla.html" %}
{%load static%}

{% block content %}
<!DOCTYPE html>
<html>
    <body>

        <h1>Encuentra pareja para tu mascota!</h1>
        <div class="container">
            <div class= "row">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">TipoMascota</th>
                        <th scope="col">nombreMascota</th>
                        <th scope="col">nombreDueño</th>
                        <th scope="col">raza</th>
                        <th scope="col">sexo</th>
                        <th scope="col">edad</th>
                    </tr>
                </thead>
                <tbody>
                    {%for ve in datos%}
                        <tr>
                            <td>{{ve.TipoMascota}}</td>
                            <td>{{ve.nombreMascota}}</td>
                            <td>{{ve.nombreDueño}}</td>
                            <td>{{ve.raza}}</td>
                            <td>{{ve.sexo}}</td>
                            <td>{{ve.edad}}</td>
                        </tr>
                    {%endfor%}
    
                </tbody>
    
            </table>
            <br>
        </div>
        <br>
        <br>
        <br>

    </body>
</html>
{%endblock%}