{% extends "plantilla.html" %}


{% block content %}
<!DOCTYPE html>
<html>
    
    
    {% load static %}
    <body>
      <div class="container">
        
        <br>
        <h1>Un poco de nosotros</h1>
        <br>
        <div
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/perro7.jpg'%}" > 
            <div class="card-body">
              <h4 class="card-title">¿Quiénes somos?</h4>
              <p class="card-text">Somos una tienda de venta especializada en 
                insumos y artículos para mascotas de primera categoría al mejor precio y calidad.</p>               
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'img/perro9.jpg'%}" > 
          <div class="card-body">
            <h4 class="card-title">Nuestra misión</h4>
            <p class="card-text">Nuestro objetivo es brindar los mejores productos para 
              el cuidado de tu mascota y que pueda crecer de forma sana y fuerte.</p>                  
          </div>
         </div> 
        </div>

        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'img/perro14.jpg'%}" > 
          <div class="card-body">
            <h4 class="card-title">Visión</h4>
            <p class="card-text">Nuestra visón es poder crear una comunidad en donde las personas puedan compartir 
              sus experiencias relacionadas con sus mascotas, ayudar y sobre todo traer felicidad para ellas.</p>
          </div>
         </div>
         <br> 
         <br> 
      </div> 
     
          
        </div>


              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <img class="card-img-top" src="{% static 'img/perro13.jpg'%}" > 
                  <div class="card-body">
                    <h4 class="card-title">¡Pronto: nuevo portal!</h4>
                    <p class="card-text">Pronto podrás unirte al nuevo portal con el cual tendrás la posibilidad
                       conocer a otras personas con mascotas ya sea para buscar parejas o salir a jugar. </p>               
                  </div>
                </div>
                </div>           
              
                
                <div class="col-lg-4">
                  <center>
                    <div class="video-responsive">
                      
                    <iframe src="https://www.youtube.com/embed/vlyvTCSGz-k" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </center>
                  </div>
                </div>
            </div>
            <br>
    </body>
</html>
{% endblock %}

